*{
    padding: 0;
    margin: 0;
    background-color: green;
}


#base{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 13vh;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#vermelho{
    width: 40%;
    height: 20%;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 10px;
}

#amarelo{
    width: 40%;
    height: 20%;
    border-radius: 50%;
    background-color: yellow;
    margin-bottom: 10px;

}

#verde{
    width: 40%;
    height: 20%;
    border-radius: 50%;
    background-color: green;
}

div#poste{
    width: 5%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: darkgray;
    display: flex;
}

div#botao{
    width: 5vh;
    height: 30%;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    margin-top: 10vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
    
}

p{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 8px;
}

div#botao2{
    width: 5vh;
    height: 30%;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
}

div.chao{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#faixa{
    width: 70%;
    height: 70%;
    background-color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}

#faixaDois{
    width: 70%;
    height: 70%;
    background-color: white;
    margin-bottom: 40px;
}

#faixaTres{
    width: 70%;
    height: 70%;
    background-color: white;
    margin-bottom: 40px;
}